.elmesp-hidden {
    display: none;
}

.elmesp-block {
    display: block;
}

.elmesp-vertical-align-middle {
    vertical-align: middle;
}

.elmesp-title-text {
    background: -webkit-linear-gradient(rgb(215, 252, 6), #333);
    background-clip: text;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-left: 10px;
}